<div class="alert alert-info" role="alert" *ngIf="loading">
  <h4 class="alert-heading">Loading ...</h4>
  <p>
    <i class="fa fa-sync sfa-spin fa-2x"></i>
  </p>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">
  <h4 class="alert-heading">Error</h4>
  <pre>
    {{error | json}}
  </pre>
</div>

<div class="card-columns" *ngIf="!loading">
  <div class="card" *ngFor="let user of users">
    <img class="card-img-top" [src]="user.avatar" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <div class="card-text">
        <span class="text-muted">
          ID: {{user.id}}
        </span>
      </div>
    </div>
  </div>
</div>
