<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of incomeEgressItems | sortItems">
                            <td>{{item.description}}</td>
                            <td>{{item.amount | currency}}</td>
                            <td [class.text-danger] = "item.type === 'egress'" [class.text-success] = "item.type === 'income'">
                                {{item.type}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem(item.uid!)">
                                    <i class="fa fa-trash"></i>
                                    Borrar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
